:root {
    --bg : #F9FCF6;
    --green: #8BC34A;
    --black: black;
}

#header{
    position: absolute;
    width: 100%;
    z-index: 999;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.m-header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;

    z-index: 9999;
    visibility: hidden;
}

.burger {
    background-color: var(--green);
    width: 50px;
    height: 50px;
    transition: 0.3s;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 50%;
}

.line {
    transition: 0.3s;
    height: 3px;
    width: 24px;
    background-color: white;
}

@media screen and (max-width: 900px){
    .header {
        position: fixed !important;
        background-color: white;
        height: 100vh;
        transform: translateY(-100%);
        transition: 0.4s;
    }

    .m-header {
        visibility: visible;
    }

    .active {
        transform: translateY(0%);
    }

    .header__left {
        text-align: center;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .header__nav-list {
        display: grid;
        width: 100%;
        text-align: center;
        gap: 30px;
    }
    .header__wrapper {
        height: 100vh;
        background-color: white;
        display: grid;
        z-index: 9;
        justify-content: center;
    }

    .header__nav-link {
        font-size: 24px;
        font-weight: 700;
    }
}


.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.hero__left {
    display: grid;
    align-items: center;
    justify-items: start;
    align-content: center;
    gap: 20px;
}

.hero__left h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */
    color: var(--green);
}

.hero__left p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    color: #7B7B7B;
}

.hero__right {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px){
    .hero {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        align-items: center;
        align-content: center;
    }
}







.swiper {
    width: 300px;
    height: 450px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 18px; */
    font-size: 22px;
    padding: 20px;
    font-weight: bold;
    color: #fff;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.143);
  }

  .swiper-slide img {
    object-fit: cover;
    height: 100%;
  }

  @media screen and (max-width: 900px){
    .swiper {
        width: 250px;
        height: 390px;
      }
}


  /* .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  } */
.reviews , .benefits ,.price{
    padding: 60px 0;
}
.reviews__title {
    padding-bottom: 40px;
}
  .mySwiper2 {
    width: 100%;
    padding: 15px !important;
    height: 240px;
  }

  .swiper-nav2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .arrow {
    cursor: pointer !important;
  }

  .swiper-slide2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 18px; */
    font-size: 22px;
    padding: 20px;
    font-weight: bold;
    color: black;
    height: 200px !important;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px 60px 60px 0px;
  }
