.firstscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    height: 100vh;
}

#file-input {
    background-color: var(--green);
}

#file-upload-button {
    background-color: var(--green) !important;
}

input#file-upload-button{
    border: 2px solid red !important;
}

.firstscreen img {
    width: 130px;
}

.firstscreen p {
    font-size: 18px;
    font-weight: 600;
}

.cropped {
    /* position: absolute; */
    z-index: 999;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.158);
}

.settings {
    background-color: white;
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cropped {
    object-fit: cover !important;
}

.img-result img {
    object-fit: cover !important;
}

.img-result {
    object-fit: cover !important;
}

.style1 {
    width: 100px;
    height: 100px;
}

.upload__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload__header-title{
    font-size: 36px;
    font-weight: 600;
}
.upload__header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 90vh;
}

.upload__wrapper {
    width: 100%;
    height: 100%;
}

.upload__main {
    display: flex;
    height: 100%;
    width: 100%;
}

.upload__main-cart{
    width: 100%;
    height: 100%;
  
}
.upload__main-sidebar{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
    width: 500px;
    height: 100%;
    /* transform: translateX(100%); */
    display: flex;
    /* position: absolute; */
    right: 0;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}





.sidebar__wrapper {
    height: 100%;
}

.sidebar__accordion {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
}

.sidebar__accordion-item {
    overflow: hidden;
    transition: 0.3s;
    height: 81px;
    
}

.sidebar__accordion-item.active {
    height: 100%;
    max-height: 450px;
    overflow: hidden;
}

.sidebar__accordion-item.active .sidebar__accordion-title{
    background-color: white;
}

.sidebar__accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    border-bottom: 1px solid gray;
    padding: 20px;

    cursor: pointer;
}

.sidebar__accordion-number {
    background-color: var(--green);
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 100%;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__accordion-number span {
    font-weight: 900;
    color: white;
    font-size: 20px;
}

.check {
    visibility: hidden;
}

.check.active {
    visibility: visible;
}

.sidebar__accordion-title p {
    font-weight: 600;
    text-align: left;
    width: 170px;
}

.details {
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.details__top {
    display: flex;
    justify-content: space-between;
    color: #C5C5C5;
    font-size: 14px;
}

.details__middle {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.details__bottom {
    border-top: 1px solid gray;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 600;
    font-size: 14px;
}























.upload-input {
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.card__options-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.card__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;

}

.card__wrapper-cart {
    overflow-y: scroll;
    height: 60vh;
}

.card__wrapper {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    height: 100px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.276);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.card__setting {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.card__opt img{
    cursor: pointer;
}
.card__count-controls {
    background-color: var(--green);
    color: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.card__count-wrapper {
    display: flex;
    align-items: center;
}

.card__count {
    color: black;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--green);
}
.card__img img {
    width: 50px;
    height: 50px;
}

.in-mobile{
    visibility: hidden;
    font-size: 13px;
    color: gray;
}























.upload__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    visibility: hidden;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.219);
}

.order-button {
    background-color: white;
    padding: 10px;
}


@media screen and (max-width: 1000px){
    .upload__main-sidebar {
        position: absolute;
        width: 100%;
        transition: 0.4s ease-in-out;
        transform: translateY(-100%);
        z-index: 9999;
    }

    .upload__main-sidebar.active {
        position: absolute;
        transform: translateY(0%);
       
    }

    /* .upload__footer {
        visibility: visible;
    } */

    .card__box {
        display: flex;
        flex-direction: column;
    }

    .card__options-wrapper {
        display: none;
    }

    .card__options p{
        font-size: 13px;
    }

    .card__options {
        width: 300px;
    }

    .card__setting {
        width: auto;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    .in-mobile{
        visibility: visible;
    }

    .card__input {

    }

    .card__wrapper {
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    .card__img img {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}